<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351542703277-osd7qj5u5gs3vcn7fi9ruaorg6vklqh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351542703277-osd7qj5u5gs3vcn7fi9ruaorg6vklqh8</string>
	<key>API_KEY</key>
	<string>AIzaSyDbmBLWCPzYGCd2v2Uffhe_00lXggVekN8</string>
	<key>GCM_SENDER_ID</key>
	<string>351542703277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randevu</string>
	<key>PROJECT_ID</key>
	<string>randevu-ae9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>randevu-ae9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351542703277:ios:fa9f7e404b48b177870224</string>
</dict>
</plist>